body {
  margin: 0px;
  box-sizing: border-box;
}
/* nav section */
.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 2.5%;
  border-bottom: 1px solid rgb(227, 217, 217);
}
.logo-div {
  display: flex;
  align-items: center;
  height: 10vh;
  justify-content: center;
}
.logo-name {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: rgb(4, 199, 234);
  padding-top: 2%;
}
.but-sign {
  background-color: transparent;
  border: 1px solid rgb(188, 180, 180);
  padding: 5px 15px;
  border-radius: 5px;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
}
.but-sign:hover {
  background-color: rgb(235, 228, 228);
  cursor: pointer;
}
.but-log {
  background-color: #ff6600;
  border: none;
  padding: 7px 20px;
  border-radius: 5px;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  /* margin-right: 2px; */
  text-transform: capitalize;
  font-weight: bold;
}
/* ul section */
.ul-div {
  margin-top: 1%;
  -webkit-box-shadow: 0 7px 8px -7px #222;
  -moz-box-shadow: 0 7px 8px -7px #222;
  box-shadow: 0 7px 8px -7px #222;
}
.ul-items {
  display: flex;
  align-items: center;
  justify-content: center;
}
.li-items {
  list-style: none;
  padding-right: 3%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 1%;
}
.li-items:hover {
  text-decoration: underline;
}
/* banner section */

.img {
  width: 100%;
  height: 57vh;
  position: relative;
  background-image: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
}
.img-text {
  width: 40%;
  position: absolute;
  top: 47%;
  left: 5%;
}
.img-h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.img-para {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.img-button {
  border: none;
  background-color: white;
  padding: 8px 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-radius: 3px;
}
/* card-section */
.card-main-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}
.card-1 {
  width: 10%;
  text-align: center;
  justify-content: center;
}

.card-h3 {
  font-size: 20px;
}
.w-1 {
  color: rgb(0, 0, 0);
  opacity: 0.65;
}
/* column-section */
.column-h1 {
  font-weight: bolder;
  font-size: 36px;
  padding-top: 0;
}
.column-img {
  width: 100%;
  margin-bottom: 15%;
}
/* mockup-section */
.mockup-img-div {
  display: flex;
  justify-content: center;
}
.mockup-img {
  margin-right: 4%;
}
.mock-img {
  width: 115%;
}
.but-mock {
  background-color: #00bd28;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 5px 12px;
}
/* steps-section */
.steps-img {
  width: 100%;
}
.steps-heading {
  font-size: 22px;
  font-weight: 600;
}
/* designer-div */
.design-div {
  background-color: white;
  box-sizing: border-box;
  box-shadow: 2px 2px 6px black;
  border-radius: 5px;
  width: 25%;
  padding: 16px;
  margin-top: -27%;
  margin-left: 5%;
  position: absolute;
  /* top: 100%; */
}
.d-p {
  font-size: 22px;
}
.designer-name {
  display: flex;
  align-items: center;
}
.d-dp {
  width: 50%;
}
.designer-name {
  font-weight: bold;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .nav-main {
    justify-content: space-between;
    padding: 0px;
  }
  .logo-name {
    display: none;
  }
  .buttons-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .but-log {
    margin-left: 2%;
  }
  .ul-div {
    width: 100%;
    overflow-x: scroll;
    box-sizing: border-box;
    margin-top: 2%;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 7px 8px -10px #353232;
  }
  .ul-div::-webkit-scrollbar {
    display: none;
  }
  .li-mock {
    margin-left: 34%;
  }
  .img {
    width: 100%;
    position: relative;
    background-position: center;
    height: 42vh;
    background-image: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
  }
  .img-text {
    width: 91%;
    position: absolute;
    top: 41%;
    /* left: 5%; */
  }
  .img-h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 27px;
  }
  .img-para {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
  .img-button {
    border: none;
    background-color: white;
    padding: 8px 25px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    border-radius: 3px;
  }
  .card-main-div {
    overflow-x: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-main-div::-webkit-scrollbar {
    display: none;
  }
  .card-1 {
    margin-right: 3%;
  }
  .card-1-1 {
    margin-left: 314%;
  }
  .columns-div {
    display: block;
    flex-direction: column-reverse;
  }
  .mockup-img-div {
    display: block;
    margin-left: 20%;
  }
  .mock-img {
    width: 70%;
    margin-bottom: 4%;
  }
  .steps-div {
    justify-content: center;
  }
  .design-img {
    width: 100%;
    box-sizing: border-box;
  }
  .d-img {
    width: 100%;
  }
  .design-div {
    width: 70%;
    height: 40vh;
    margin: 0px;
  }
  .d-p {
    font-size: 15px;
  }
}
